# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Docker
**/docker-data/
**/db_data/
**/tmp/
**/.docker/

# Node & Frontend (if used)
/node_modules/
dist/

# Others
*.class
*.jar
*.war
*.zip
*.tar.gz
